# Ignore node_modules and npm debug logs
node_modules
npm-debug.log

# Ignore Git files
.git
.gitignore

# Ignore test files
tests
coverage
.nyc_output

# Ignore development files
.vscode
.idea
*.md
!README.md

# Ignore local environment files
.env
.env.*
!.env.example

# Ignore Docker files
Dockerfile
.dockerignore